/* FONTS */

@font-face {
  font-family: 'Roobert_Latin_Bold';
  src: url('../fonts/Roobert-LatinProportionalBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roobert_Latin_Regular';
  src: url('../fonts/Roobert-LatinProportionalRegular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

/* SHARED STYLES */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    letter-spacing: 0.01em !important;
    line-height: 1.5 !important;
}

body {
    margin: 0px;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
}

.container {
    padding: 48px;
    padding-bottom: 32px;
    width: 100%;
}

@media (min-width: 500px) and (max-width: 700px) {
    .container {
        padding: 48px 16px;
    }
}

@media (min-width: 0px) and (max-width: 500px) {
    .container {
        padding: 48px 16px;
    }
}


.custom-styles {
    &::part(button) {
    padding: 0px;
    width: 160px;
    display: flex;
    justify-content: center;
    cursor: default;
    height: 16px;
    }
    &:hover {
        font-family: "Roobert_Latin_Regular" !important;
    }
}

sl-icon {
    width: 100%;
    position: relative;
    top: 3px;
}

sl-icon > svg {
    width: 100% !important;
    height: 30px !important;
    padding-top: 10px !important;
}