/* FONTS */

@font-face {
  font-family: 'univers-condensed-bold';
  src: url('../fonts/universcondensed_bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'univers-condensed-medium';
  src: url('../fonts/universcondensed_medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'univers-condensed-mediumitalic';
  src: url('../fonts/universcondensed_mediumitalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

/* SHARED STYLES */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0px;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
}

.container {
    padding: 48px;
    width: 100%;
}

@media (min-width: 500px) and (max-width: 700px) {
    .container {
        padding: 48px 16px;
    }
}

@media (min-width: 0px) and (max-width: 499px) {
    .container {
        padding: 48px 16px 0px 16px;
    }
}